<!DOCTYPE html>
<html lang="en">
<head>
  {% load leaflet_tags %}
  {% load static %}
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="shortcut icon"  href="{% static 'favicon.ico' %}"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/album.css' %}">
  <link rel="stylesheet" href="{% static 'css/departement_list.css'%}">
</head>



<body>
  {% block carousel %}
  {% endblock %}

  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;">
    <h3 class="w3-bar-item">Menu</h3>
    {% block menu %}
    <a href="{% url 'map' %}" class="w3-bar-item w3-button">Carte des Projets</a>
    <a href="{% url 'projects' %}" class="w3-bar-item w3-button">Liste des Projets</a>
    {% endblock %}
  </div>

  <div class="inner">
    <h1>
      {% block h1 %}
      {% endblock %}
    </h1>
    <div class="col-sm-2">
      {% block sidebar %}
     {% endblock %}
      </div>
<!-- Page Content -->
    <div class="col-sm-10">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
