{% extends "base.html" %}

{% block h1 %}
Projets dans ton département
{% endblock %}

{% block content %}



      {% for project in project_list %}
        <div class="row">
            <div class="card">
            <img src={{project.picture_url}} width="100%" height="100%"/>
              <div class="card-body">
                <p class="card-text"> {{ project.title }} </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action={{project.url}}>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"> >> En savoir +</button>
                    </form>
                   </div>
                  <small class="text-muted"> {{ project.nbArbres }} arbre plantés !</small>
                </div>
              </div>
            </div>
          </div>
       {% endfor %}


      </div>
    </div>


</main>



{% endblock %}
