{% extends 'base.html' %}
{% load leaflet_tags %}

<title>Chajarat|Carte</title>

{% block h1 %}
Carte des Projets
{% endblock %}

{% block carousel %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-caption top" >
      <img src='../static/css/chajarat.png' alt="Chajarat-logo">
      <h2>Chajarat</h2>
    </div>
    <div class="item active">
      <img src='../static/css/forest1.jpeg' alt="Forest">
      <div class="carousel-caption">
        <h4 style = "color:white;">Découvrez les projets de reforestation en France </h4>
        <p>Contrairement à ce que vous pouvez penser, plein de projets de reboisement existent en France!</p>
      </div>
    </div>

  <div class="item">
    <img src="../static/css/forest2.jpeg" alt="Planting">
    <div class="carousel-caption">
      <h4 style = "color:white;">Aidez les associations à accomplir leurs missions</h4>
      <p>Plein d'associations sont actives à côté de chez vous</p>
    </div>
  </div>

  <div class="item">
    <img src="../static/css/forest3.jpeg" alt="Book">
    <div class="carousel-caption">
      <h4 style = "color:white;"> Connaissez vous les projets de votre région ? </h4>
      <p>Informez vous sur les projets de votre Région</p>
    </div>
  </div>
</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  <span class="sr-only">Next</span>
</a>
</div>
{% endblock %}



{% block content %}
<script>
  function bindPopups(feature, layer) {
    var props = feature.properties;
    var content =`<div class="popup">\
        <h7><a href = ${props.url}>${props.title}</a></h7>\
        <a href = ${props.url}><img src="${props.picture_url}"/></a>\
        <p>${props.description}</p>\
        </div>`;
    layer.bindPopup(content);
  }

  var dataurl = '{% url "data" %}'
  window.addEventListener("map:init", function (event) {
  var map = event.detail.map;



  //show markers on zoom



  // follow popup on click
  map.on('popupopen', function(e) {
    var px = map.project(e.target._popup._latlng); // find the pixel location on the map where the popup anchor is
    px.y -= e.target._popup._container.clientHeight/2; // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
    map.panTo(map.unproject(px),{animate: true}); // pan to new center
  });


  // Launch map: Download GeoJSON data with Ajax
  fetch(dataurl)
    .then(function(resp) {
      return resp.json();
    })
    .then(function(data) {
      L.geoJson(data, {onEachFeature: bindPopups}).addTo(map);
    });
  });
</script>
{% leaflet_map "main" %}
{% endblock %}
