{% extends "base.html" %}
{% block h1 %}
Choisis ton departement
{% endblock %}


{% block content %}
<ul class="list_departement">
    {% for departement in departements %}
      <li>
        <a href="{% url 'departement' departement.nb %}">{{departement.departement}}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
