.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.card{
  padding: 5px;
  box-shadow: 4px 4px 5px black;
  border-radius: 3%;
}
.card>img{
  margin: 4px auto;
  border-radius: 2%;
  height: 250px;
}
.card-text{
  font-weight: 600;
  padding: 0 5px;
  height: 100px
}

.row {
  height: 450px;
  float: left;
  width: 30%;
  margin: 10px;
}

.title-album {
  font-family:inherit;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-top: 10px;
  color: white;
  text-shadow: 4px 4px 5px #000;
}
