.list_departement{
	columns: 4 200px;
	-webkit-columns: 4 200px;
  -moz-columns: 4 200px;
	list-style-type: none;
  text-align: center;
  color: white;
  background: linear-gradient( to right,rgba(0,0,0,0.1),rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  box-shadow: 3px 3px 6px  black;

}
.list_departement>li{
margin: auto;
}

.list_departement>li>a{
  text-decoration: none;
  color : #ffffff;
  font-weight: 800;
  outline: none;
}

.list_departement>li>a:hover,
.list_departement>li>a:active,
.list_departement>li>a:visited,
.list_departement>li>a:focus,
.list_departement>li>a:focus-within{
  text-decoration: none;
  outline: none;
	color: rgba(255, 214, 71, 0.5);
}
