/* Carousel */
.carousel-caption{
  height: 130px;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001),rgba(0,0,0,.4),rgba(0,0,0,.0001));
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001),rgba(0,0,0,.4),rgba(0,0,0,.0001));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001),rgba(0,0,0,.4),rgba(0,0,0,.0001));
}
.carousel-control.left:not(:hover),.carousel-control.right:not(:hover){
  background-image: none;
}

.carousel-caption.top{
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image:none;
  width:100%;
  height: 30%;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001),rgba(0,0,0,.4),rgba(0,0,0,.0001));
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001),rgba(0,0,0,.4),rgba(0,0,0,.0001));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001),rgba(0,0,0,.4),rgba(0,0,0,.0001));
}
.carousel-caption.top>h2{
  text-align: center;
  width : 30%;
  margin:0 auto;
}

.carousel-caption.top>img{
  max-width : 70px;
  margin:0 auto;
}

/* Map */
.leaflet-container {
    width:  900px;
    height: 550px;
}
.item.active{
  width:100%;
  max-height:500px;
}

#specialbigmap {
    height: 800px;
}

.django-leaflet-raw-textarea {
    width: 100%;
}

.leaflet-popup-content-wrapper{
  background-color: rgba(255,255,255,0.9);
}
.leaflet-popup-content{
  margin:  2px 10px;
}
.popup{
  max-height: 500px;
}
.popup>h7{
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.popup>a>img{
  display: block;
  max-width: 200px;
  margin: 4px auto;
  height: 150px;
}
.popup>p{
  max-height:100px;
  margin-bottom: 0px;
  margin-top:5px;
  overflow-y: auto; /* has to be scroll, not auto */
}
