html{
  font-family: 'Roboto', sans-serif;
  font-size:100%;
}

body{
  font-family:inherit;
  background-image: -webkit-linear-gradient(left,#184803,#4f7b3d,#a0f97c);
  background-image: -o-linear-gradient(left,#184803,#4f7b3d,#a0f97c);
  background-image: linear-gradient(to right,#184803,#4f7b3d,#a0f97c);
}

a{
  outline: none;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active, a:visited, a:focus, a:focus-within{
  text-decoration: none;
  outline: none;
}
.w3-sidebar{
  position: absolute;
  font-family:inherit;
  height:100%;
  z-index:1;
  overflow:auto;
}

.w3-bar-item{
  font-family:inherit;
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0
}
.w3-bar-item{
  font-family:inherit;
  text-align:center
}
.w3-bar-item{
  font-family:inherit;
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:
  normal;
  float:none;
  outline:0;
  font-weight: 1000;
  text-align:center;
}
.w3-light-grey{
  color:#000!important;
  background-color:#f1f1f1!important
}
.w3-button{
    font-size: 19px;
}
.w3-button:hover{
  color:black!important;
  background-color:#bbb!important
}
.inner{
  position: relative;
  padding-bottom: 50px;
  width:75%;
  margin-left: 25%;
}

.col-sm-10{
  width: 100%;
}

.inner>h1{
  font-family:inherit;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-top: 10px;
  color: white;
  text-shadow: 4px 4px 5px #000;
}
